## 1. Write a function called greet that takes a name as a parameter and returns "Hello, [name]!"

In [8]:
def greet(name):
    return f"Hello, {name}!"

In [10]:
greet("Boma")

'Hello, Boma!'

## 2. Create a function calculate_area that takes length and width as parameters and returns the area of a rectangle.

In [13]:
def calculate_area(length, width):
    area = length * width
    return f"The area of the rectangle is {area}cm^2"

In [15]:
calculate_area(6,7)

'The area of the rectangle is 42cm^2'

## 3 Define a function is_even that takes a number and returns True if it's even, False if it's odd.

In [4]:
def is_even(number):
    if number % 2 == 0:
        return True
    else:
        return False

In [6]:
is_even(7)

False

In [8]:
is_even(90)

True

## 4. Write a function get_max that takes two numbers and returns the larger one.

In [18]:
def get_max(num1, num2):
    if num1 > num2:
        return f"The larger Number is {num1}"
    else:
        return f"The larger Number is {num2}"

In [20]:
get_max(90, 25)

'The larger Number is 90'

In [22]:
get_max(9, 25)

'The larger Number is 25'

## 5. Create a function celsius_to_fahrenheit that converts Celsius to Fahrenheit using the formula: F = (C Ã— 9/5) + 32

In [24]:
def celsius_to_fahrenheit(degree):
    fahrenheit = (degree * 9/5) + 32
    return fahrenheit

In [30]:
celsius_to_fahrenheit(67)

152.6

## 6. Write a function introduce that takes a name and an optional age parameter (default value 25). It should return "Hi, I'm [name] and I'm [age] years old."

In [33]:
def introduce(name, age = 25):
    return f"Hi, I'm {name} and I'm {age} years old"

In [35]:
introduce("Boma")

"Hi, I'm Boma and I'm 25 years old"

In [37]:
introduce("Boma", 28)

"Hi, I'm Boma and I'm 28 years old"

## 7. Create a function calculate_discount that takes a price and discount percentage (default 10%) and returns the discounted price.

In [90]:
def calculate_discount(price, discount_percentage = 10):
    percentage = discount_percentage / 100
    discount = price * percentage
    amount = price - discount
    return f" Amount: {amount}, discount: {discount}"

In [92]:
calculate_discount(40000)

' Amount: 36000.0, discount: 4000.0'

In [97]:
calculate_discount(40000, 58)

' Amount: 16800.0, discount: 23200.0'

## 8. Define a function create_email that takes a first name, last name, and optional domain (default "gmail.com") to create an email address.

In [55]:
def create_email(first_name, last_name, domain = "@gmail.com"):
    return first_name + last_name + domain

In [57]:
create_email("boma", "smith")

'bomasmith@gmail.com'

In [59]:
create_email("esther", "clayton")

'estherclayton@gmail.com'

In [61]:
create_email("boma", "smith", "@yahoo.com")

'bomasmith@yahoo.com'

## 9. Create a function count_vowels that takes a string and returns the number of vowels in it.

In [74]:
def count_vowels(sentence):
    vowels = []
    for letter in sentence:
        if letter in ("a", "i", "e", "o", "u"):
            vowels.append(letter)
    return f"The number of vowels in [{word}]: {len(vowels)}"

In [76]:
count_vowels("This is Victory Jackson")

'The number of vowels in [This is Victory Jackson]: 6'

## 10. Define a function find_longest_word that takes a list of words and returns the longest one.

In [83]:
def find_longest(sentence):
    length = 0
    for word in sentence.split():
        length_of_word = len(word)
        if length_of_word > length:
            length = length_of_word
            longest_word = word
    return f"The longest word in the sentence is: {longest_word}"

In [89]:
find_longest("This is mary james")

'The longest word in the sentence is: james'

## 11. Write a function grade_calculator that takes a score (0-100) and returns the letter grade (A, B, C, D,E, F).

In [76]:
def grade_calculator(score):
    if score < 0 or score > 100:
        print("Invalid Entry")
    elif score >= 70:
        print("A")
    elif score >= 60:
        print("B")
    elif score >= 50:
        print("C")
    elif score >= 45:
        print("D")
    elif score >= 40:
        print("E")
    else:
        print("F")

In [78]:
grade_calculator(10)

F

## 12. Write a function file_extension that extracts the file extension from a filename, handling cases where there might be no extension.

In [245]:
def file_extension(file_name):
    if "." not in file_name:
        return "none"
    else:
        for extenstion in file_name.split("."):
            if extenstion != file_name.split(".")[1]:
                continue
            else:
                print(name)

In [251]:
file_extension("name.jpg")

jpg

In [233]:
file_name = "name.jpg"
for name in file_name.split("."):
    if name != file_name.split(".")[1]:
        continue
    else:
        print(name)

jpg

## 13. Write a function safe_get_item that tries to access a list item by index and returns None if the index is out of bounds.

In [21]:
def safe_get_item(index):
    items = ["Esther", 0, "Chemchris", "Smith", 1, 7, "Clayton", "Okon", "Edison", "Efemena", "White", 6, 8,]
    if index <= len(items):
        return items[index]
    else:
        return "none"

In [29]:
safe_get_item(50)

'none'

## 14. Create a function clean_data that takes a list of mixed data types and returns only the numeric values as a new list.

In [10]:
def clean_data(list_of_things):
    new_list = []
    for thing in list_of_things:
        if isinstance(thing, (int, float)):# the function isinstance()
            new_list.append(thing)
        else:
            continue
    return new_list

In [12]:
clean_data(["Esther", 0, "Chemchris", "Smith", 1, 7, "Clayton", 5, "Okon", "Edison", "Efemena", "White", 6, 8,])

[0, 1, 7, 5, 6, 8]

## 15. Write a function analyze_grades that takes a dictionary of student names and their scores lists, returning statistics (average, highest, lowest) for each student.

In [50]:
#def analyze_grade(dictionary):
analyze_grade({"name": 89, "age": 25, "sex":6, "like": 78})
#for name in profile:
   # print(name)

89
6
49.5

In [48]:
#import maths
def analyze_grade(dictionary):
    names = []
    scores = []
    d = dictionary
    k = list(d.keys())
    v = list(d.values())
    maxium = max(v[1])
    minn = min(v[1])

In [64]:
d = {"Names":["Richard", "Efemena", "Hawa", "Janet", "Victory", "Prince"], "Scores":[ 95, 99, 98, 96, 88, 94]}

In [56]:
for name in d['Scores']:
    print(name)

95
99
98
96
88
94

In [ ]:
names = []
scores = []
d = dictionary
k = list(d.keys())
v = list(d.values())

In [66]:
 k = list(d.keys())

In [70]:
v = list(d.values())

In [68]:
k[1]

'Scores'

In [74]:
v[1]

[95, 99, 98, 96, 88, 94]

def analyze_grades(student_scores):
    """
    Analyzes grades for each student and returns statistics.

    Args:
        student_scores (dict): A dictionary where keys are student names and values are lists of scores.

    Returns:
        dict: A dictionary with student names as keys and their statistics (average, highest, lowest) as values.
    """
    statistics = {}
    for student, scores in student_scores.items():
        if scores:  # Ensure the scores list is not empty
            avg_score = sum(scores) / len(scores)
            highest_score = max(scores)
            lowest_score = min(scores)
            statistics[student] = {
                "average": avg_score,
                "highest": highest_score,
                "lowest": lowest_score
            }
        else:
            statistics[student] = {
                "average": None,
                "highest": None,
                "lowest": None
            }
    return statistics

# Example usage:
student_scores = {
    "Alice": [85, 90, 78],
    "Bob": [92, 88, 84],
    "Charlie": [70, 75],
    "Diana": []
}

result = analyze_grades(student_scores)
print(result)